##Ejemplo para implementación de configuración de variables de entorno para el proyecto ETL

# ============================================================
# SUPABASE
# ============================================================

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=etl-raw

# ============================================================
# ETL
# ============================================================

ETL_BATCH_SIZE=1000

# ============================================================
# POSTGRESQL
# ============================================================

DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASSWORD=

# ============================================================
# POOL
# ============================================================

DB_POOL_MIN=0
DB_POOL_MAX=5