# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# ENTORNO VIRTUAL
# ============================================================
.env
.venv/
venv/
env/

# ============================================================
# ENTORNO TEST
# ============================================================
test/
test/*
test/*py
test/*ipynb

# ============================================================
# VARIABLES DE ENTORNO / CONTRASEÑAS /  CREDENCIALES
# ============================================================

.env
.env.*
!.env.example

# ============================================================
# DDL CREACION TABLAS, VISTAS EN LA BASE DE DATOS
# ============================================================

sql/
*.sql

# ============================================================
# DATOS ETL / LOGS
# ============================================================

logs/
*.log
data/bronze/**
data/silver/**
data/gold/**

# Mantener estructura de carpetas. gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# ============================================================
# EXCEL FUENTES
# ============================================================

*.xlsx
*.xls
*.csv
*.zip

# ============================================================
# JUPYTER
# ============================================================
.ipynb_checkpoints/

# ============================================================
# IDE
# ============================================================
.vscode/
.idea/

# ============================================================
# WINDOWS
# ============================================================

Thumbs.db
Desktop.ini

# ============================================================
# TEMPORALES OFFICE
# ============================================================

~$*

# ============================================================
# SALIDAS REPORTES
# ============================================================
# Salidas generadas por reportes
salidas/
reportes/salidas/

# ============================================================
# ARCHIVOS GEOESPACIALES
# ============================================================
data/bronze/geografia/divipola_2026/
data/silver/geografia/*.parquet
data/silver/geografia/*.geojson
data/gold/geografia/*.parquet
data/gold/geografia/*.geojson
data/gold/geografia/*.json