pandas>=2.2.0
openpyxl>=3.1.0
python-dotenv>=1.0.0
psycopg[binary]>=3.2.0
psycopg-pool>=3.2.0
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9
matplotlib>=3.8.0
SQLAlchemy>=2.0.36,<3.0
click>=8.5.0

#Importe Librerías para temas geoespaciales
geopandas>=1.0
pyogrio>=0.9
shapely>=2.0
pyproj>=3.6
pyarrow>=16
PyYAML>=6.0
GeoAlchemy2>=0.15
