##Ejemplo paraconfiguración de variables de entorno para el proyecto ETL

SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
SUPABASE_STORAGE_BUCKET=etl-raw
ETL_BATCH_SIZE=500
